doctype html
html
  head
    title= title
    block scripts
    block style
  body
    nav#navbar
      ul
        div#logo
          img(src="../static/logo.png", alt="Pro Dance Academy")
        li #[a(href='/') Home] 
        li #[a(href='/') Services] 
        li #[a(href='/') Class Info] 
        li #[a(href='/') About Us] 
        li #[a(href='/') Contact Us] 
    block content
    footer#footer
      | Copyright 2019 © ProDanceAcademy.com | All rights reserved