doctype html
html
  head
    title= title

    style
      include ../static/style.css
  body
    nav#navbar
      ul
        div#logo
          img(src="../static/logo.png", alt="Pro Dance Academy")
        li #[a(href='/') Home] 
        li #[a(href='/') Services] 
        li #[a(href='/') Class Info] 
        li #[a(href='/') About Us] 
        li #[a(href='/') Contact Us] 

    section#introSection
      h3#name Welcome to Pro Dance Academy
      div.small Dance to Live-Live to Dance

    section#sponsorSection
      h2 Out sponsors
      div#sponsors
        img(src='../static/apple.png', alt="",class='spImg')
        img(src='../static/microsoft.jpg', alt="",class='spImg')
        img(src='../static/hp.png', alt="",class='spImg')
        img(src='../static/skype.png', alt="",class='spImg')

    footer#footer
      | Copyright 2019 © ProDanceAcademy.com | All rights reserved


    script
      include ../static/script.js
